<?xml version="1.0"?>
<!--
Copyright (c) 2018 Nguyen Quy Blogger
Author: Nguyen Quy
-->
<connectionStrings>
    <add name="BMSContext" connectionString="Data Source=NGUYENQUY;Initial Catalog=qpBMS;Persist Security Info=True;User ID=sa;Password=qpC0ders;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>

    <!--<add name="BMSContext" connectionString="Data Source=125.212.218.20;Initial Catalog=nyawafjl_qpcoders;Persist Security Info=True;User ID=nyawafjl_qpcoders;Password=@qpC0ders.C0m!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
</connectionStrings>