<?xml version="1.0" encoding="utf-8"?>
<!--Log4net Logging Setup-->
<log4net>

    <!--Config Layout and Property for file log-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <preserveLogFileNameExtension value="true"/>
        <!--Gets and Sets the path to the file that logging will be writing to-->
        <file type="log4net.Util.PatternString" value="logs\%date\QPC.BMS.log" />
        <!--insert DATETIME into LOGNAME => datePattern automatically pre-inserts the last dot-->
        <datePattern value="dd.MM.yyyy" />
        <!--Gets or sets a flag that indicates whether the file should be appended to or overwritten-->
        <staticLogFileName value="false"/>
        <appendToFile value="true" />
        <!--Gets or sets the rolling style => Size:chi theo kich thuoc => Date: chi theo theo ngay
      => Composite: to hop bat ky-->
        <rollingStyle value="Composite"/>
        <!--Gets and Sets the maximum number of backup files that are kept before the olds is erased-->
        <maxSizeRollBackups value="500" />
        <!--Gets or sets the maximum size that the output file is allowed to reach before being rolled over to backup files
      => When the file size is greater than 'maximumFileSize', it will create a new file -->
        <maximumFileSize value="500KB"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-6level - [%username] - %message %exception%newline"/>
        </layout>
    </appender>

    <root>
        <!--ALL | DEBUG | INFO | WARN | ERROR | FATAL-->
        <level value="DEBUG" />
        <!--<level value="ERROR" />-->
        <!--<level value="INFO" />-->
        <!--<level value="WARN" />-->
        <appender-ref ref="RollingLogFileAppender" />
    </root>

</log4net>
